@import url("style/mocha.css");

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  min-height: 0;
}

*:hover {
  color: @sapphire;
}

window#waybar {
  color: @text;
  opacity: 0.8;
  background-color: @mantle;
  border-radius: 0.3rem;
  border: 0.1rem solid @green;
  /* padding: 10rem; */
  /* margin: 0rem 0.4rem; */
}

#windows {
  min-width: 20rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-wallpaper,
#workspaces,
#system-info,
#custom-group
{
  /* background-color: @mauve; */
  padding: 0 0.6rem;
  margin: 0.3rem 0.3rem;
  border-radius: 1rem;
}

#cpu, 
#idle_inhibitor,
#memory,
#temperature,
#network,
#power-profiles-daemon {
  padding-right: 2rem;
}

#custom-power {
  margin: 0;
  padding-right: 1rem;
}

#workspaces {
  padding: 0;
  background-color: @green;
  color: @mantle;
}

#workspaces button.active {
  background-color: @overlay2;
  border-radius: 0.5rem;
}

#custom-wallpaper {
  color: @lavender;
}

#clock {
  color: @peach;
}